# Who classifies the best?
An exercise with different Classification models
This is an exercise aimed to try different classification models on a profile data set. The data consists of the personal profile of people, with the given information on whether the profile is a high income one or low income one. Given this information, we want to develop a prediction model which can predict the income level of a new profile.

Since this problem tries to predict whether the profile falls into either "low income" or "high income" we can use a classification model for this problem.

There are different classification models out there - Naive Bayes, Logistic Regression, SVM etc. Let's try them

# Process your data before applying the algorithm.
Let's do the data clean up, analysis before we do anything

In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
#assigning path
os.chdir("C:/Users/lenovo/Desktop/cute exam/CSE7302c_CUTe")

In [3]:
#readin the data
income=pd.read_csv("train_data.csv")

In [4]:
income

,index,age,working_sector,financial_weight,qualification,years_of_education,tax_paid,loan_taken,marital_status,occupation,relationship,ethnicity,gender,gain,loss,working_hours,country,target
0,1,39.0,state,77516.0,Bachelors,13,NaN,0,Never-married,clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,0
1,2,50.0,self_employed,83311.0,Bachelors,13,NaN,0,Married-civilian,managerial,Husband,White,Male,0.0,0.0,13.0,United-States,0
2,3,38.0,private,215646.0,HS-grad,9,NaN,0,Divorced,cleaner,Not-in-family,White,Male,0.0,0.0,40.0,United-States,0
3,4,53.0,private,234721.0,11th,7,NaN,0,Married-civilian,cleaner,Husband,Black,Male,0.0,0.0,40.0,United-States,0
4,5,28.0,private,338409.0,Bachelors,13,NaN,0,Married-civilian,specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,0
5,6,37.0,private,284582.0,Masters,14,NaN,0,Married-civilian,managerial,Wife,White,Female,0.0,0.0,40.0,United-States,0
6,7,49.0,private,160187.0,9th,5,NaN,0,Married-non-resident,other,Not-in-family,Black,Female,0.0,0.0,16.0,Jamaica,0
7,8,52.0,self_employed,209642.0,HS-grad,9,7021.995932,1,Married-civilian,managerial,Husband,White,Male,0.0,0.0,45.0,United-States,1
8,9,31.0,private,45781.0,Masters,14,NaN,0,Never-married,specialty,Not-in-family,White,Female,14084.0,0.0,50.0,United-States,1
9,10,42.0,private,159449.0,Bachelors,13,NaN,0,Married-civilian,managerial,Husband,White,Male,5178.0,0.0,40.0,United-States,1
10,11,37.0,private,280464.0,Some-college,10,NaN,0,Married-civilian,managerial,Husband,Black,Male,0.0,0.0,80.0,United-States,1
11,12,30.0,state,141297.0,Bachelors,13,NaN,0,Married-civilian,specialty,Husband,Asian-Pac-Islander,Male,0.0,0.0,40.0,India,1
12,13,23.0,private,122272.0,Bachelors,13,NaN,0,Never-married,clerical,Own-child,White,Female,0.0,0.0,30.0,United-States,0
13,14,32.0,private,205019.0,Assoc-acdm,12,NaN,0,Never-married,sales,Not-in-family,Black,Male,0.0,0.0,50.0,United-States,0
14,15,40.0,private,121772.0,Assoc-voc,11,NaN,0,Married-civilian,repair,Husband,Asian-Pac-Islander,Male,0.0,0.0,40.0,NaN,1
15,16,34.0,private,245487.0,7th-8th,4,NaN,0,Married-civilian,transport,Husband,Amer-Indian-Eskimo,Male,0.0,0.0,45.0,Mexico,0
16,17,25.0,self_employed,176756.0,HS-grad,9,NaN,0,Never-married,farming,Own-child,White,Male,0.0,0.0,35.0,United-States,0
17,18,32.0,private,186824.0,HS-grad,9,NaN,0,Never-married,inspector,Unmarried,White,Male,0.0,0.0,40.0,United-States,0
18,19,38.0,private,28887.0,11th,7,NaN,0,Married-civilian,sales,Husband,White,Male,0.0,0.0,50.0,United-States,0
19,20,43.0,self_employed,292175.0,Masters,14,NaN,0,Divorced,managerial,Unmarried,White,Female,0.0,0.0,45.0,United-States,1
20,21,40.0,private,193524.0,Doctorate,16,NaN,0,Married-civilian,specialty,Husband,White,Male,0.0,0.0,60.0,United-States,1
21,22,54.0,private,302146.0,HS-grad,9,NaN,0,Separated,other,Unmarried,Black,Female,0.0,0.0,20.0,United-States,0
22,23,35.0,national,76845.0,9th,5,NaN,0,Married-civilian,farming,Husband,Black,Male,0.0,0.0,40.0,United-States,0
23,24,43.0,private,117037.0,11th,7,NaN,0,Married-civilian,transport,Husband,White,Male,0.0,2042.0,40.0,United-States,0
24,25,59.0,private,109015.0,HS-grad,9,NaN,0,Divorced,support,Unmarried,White,Female,0.0,0.0,40.0,United-States,0
25,26,56.0,local_body,216851.0,Bachelors,13,NaN,0,Married-civilian,support,Husband,White,Male,0.0,0.0,40.0,United-States,1
26,27,19.0,private,168294.0,HS-grad,9,NaN,0,Never-married,repair,Own-child,White,Male,0.0,0.0,40.0,United-States,0
27,28,54.0,NaN,180211.0,Some-college,10,NaN,0,Married-civilian,NaN,Husband,Asian-Pac-Islander,Male,0.0,0.0,60.0,South,1
28,29,39.0,private,367260.0,HS-grad,9,NaN,0,Divorced,managerial,Not-in-family,White,Male,0.0,0.0,80.0,United-States,0
29,30,49.0,private,193366.0,HS-grad,9,NaN,0,Married-civilian,repair,Husband,White,Male,0.0,0.0,40.0,United-States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31557,31558,34.0,private,204461.0,Doctorate,16,NaN,0,Married-civilian,specialty,Husband,White,Male,0.0,0.0,60.0,United-States,1
31558,31559,54.0,private,337992.0,Bachelors,13,NaN,0,Married-civilian,managerial,Husband,Asian-Pac-Islander,Male,0.0,0.0,50.0,Japan,1
31559,31560,37.0,private,179137.0,Some-college,10,NaN,0,Divorced,clerical,Unmarried,White,Female,0.0,0.0,39.0,United-States,0
31560,31561,NaN,NaN,NaN,NaN,12,NaN,0,Separated,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
31561,31562,22.0,private,325033.0,12th,8,NaN,0,Never-married,guard,Own-child,Black,Male,0.0,0.0,35.0,United-States,0
31562,31563,34.0,private,160216.0,Bachelors,13,NaN,0,Never-married,managerial,Not-in-family,White,Female,0.0,0.0,55.0,United-States,1
31563,31564,30.0,private,345898.0,HS-grad,9,NaN,0,Never-married,repair,Not-in-family,Black,Male,0.0,0.0,46.0,United-States,0
31564,31565,38.0,private,139180.0,Bachelors,13,NaN,0,Divorced,specialty,Unmarried,Black,Female,15020.0,0.0,45.0,United-States,1
31565,31566,71.0,NaN,287372.0,Doctorate,16,NaN,0,Married-civilian,NaN,Husband,White,Male,0.0,0.0,10.0,United-States,1
31566,31567,45.0,state,252208.0,HS-grad,9,NaN,0,Separated,clerical,Own-child,White,Female,0.0,0.0,40.0,United-States,0
31567,31568,41.0,NaN,202822.0,HS-grad,9,NaN,0,Separated,NaN,Not-in-family,Black,Female,0.0,0.0,32.0,United-States,0
31568,31569,72.0,NaN,129912.0,HS-grad,9,NaN,0,Married-civilian,NaN,Husband,White,Male,0.0,0.0,25.0,United-States,0
31569,31570,45.0,local_body,119199.0,Assoc-acdm,12,NaN,0,Divorced,specialty,Unmarried,White,Female,0.0,0.0,48.0,United-States,0
31570,31571,31.0,private,199655.0,Masters,14,NaN,0,Divorced,other,Not-in-family,Other,Female,0.0,0.0,30.0,United-States,0
31571,31572,NaN,NaN,NaN,NaN,10,NaN,0,Divorced,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
31572,31573,39.0,local_body,111499.0,Assoc-acdm,12,NaN,0,Married-civilian,clerical,Wife,White,Female,0.0,0.0,20.0,United-States,1
31573,31574,37.0,private,198216.0,Assoc-acdm,12,NaN,0,Divorced,support,Not-in-family,White,Female,0.0,0.0,40.0,United-States,0
31574,31575,43.0,private,260761.0,HS-grad,9,NaN,0,Married-civilian,inspector,Husband,White,Male,0.0,0.0,40.0,Mexico,0
31575,31576,65.0,self_employed,99359.0,Prof-school,15,NaN,0,Never-married,specialty,Not-in-family,White,Male,1086.0,0.0,60.0,United-States,0
31576,31577,43.0,self_employed,27242.0,Some-college,10,NaN,0,Married-civilian,repair,Husband,White,Male,0.0,0.0,50.0,United-States,0
31577,31578,32.0,private,34066.0,10th,6,NaN,0,Married-civilian,cleaner,Husband,Amer-Indian-Eskimo,Male,0.0,0.0,40.0,United-States,0
31578,31579,43.0,private,84661.0,Assoc-voc,11,NaN,0,Married-civilian,sales,Husband,White,Male,0.0,0.0,45.0,United-States,0
31579,31580,32.0,private,116138.0,Masters,14,NaN,0,Never-married,support,Not-in-family,Asian-Pac-Islander,Male,0.0,0.0,11.0,Taiwan,0
31580,31581,53.0,private,321865.0,Masters,14,NaN,0,Married-civilian,managerial,Husband,White,Male,0.0,0.0,40.0,United-States,1
31581,31582,22.0,private,310152.0,Some-college,10,NaN,0,Never-married,guard,Not-in-family,White,Male,0.0,0.0,40.0,United-States,0
31582,31583,27.0,private,257302.0,Assoc-acdm,12,NaN,0,Married-civilian,support,Wife,White,Female,0.0,0.0,38.0,United-States,0
31583,31584,40.0,private,154374.0,HS-grad,9,NaN,0,Married-civilian,inspector,Husband,White,Male,0.0,0.0,40.0,United-States,1
31584,31585,58.0,private,151910.0,HS-grad,9,NaN,0,Widowed,clerical,Unmarried,White,Female,0.0,0.0,40.0,United-States,0
31585,31586,22.0,private,201490.0,HS-grad,9,7727.924034,1,Never-married,clerical,Own-child,White,Male,0.0,0.0,20.0,United-States,0
31586,31587,52.0,self_employed,287927.0,HS-grad,9,NaN,0,Married-civilian,managerial,Wife,White,Female,15024.0,0.0,40.0,United-States,1

# describing the data

In [5]:
income.describe()

,index,age,financial_weight,years_of_education,tax_paid,loan_taken,gain,loss,working_hours,target
count,31587.000000,31585.000000,3.158500e+04,31587.000000,2381.000000,31587.000000,31585.000000,31585.000000,31585.000000,31587.000000
mean,15794.000000,38.560266,1.899756e+05,10.079146,6286.380419,0.050242,1090.173405,87.166566,40.439607,0.241207
std,9118.525813,13.632411,1.057192e+05,2.571846,2033.680490,0.218448,7444.382583,402.863825,12.368394,0.427822
min,1.000000,17.000000,1.228500e+04,1.000000,2010.469174,0.000000,0.000000,0.000000,1.000000,0.000000
25%,7897.500000,28.000000,1.178810e+05,9.000000,5004.099923,0.000000,0.000000,0.000000,40.000000,0.000000
50%,15794.000000,37.000000,1.785640e+05,10.000000,6381.934626,0.000000,0.000000,0.000000,40.000000,0.000000
75%,23690.500000,48.000000,2.374660e+05,12.000000,7967.520312,0.000000,0.000000,0.000000,45.000000,0.000000
max,31587.000000,90.000000,1.484705e+06,16.000000,9997.840369,1.000000,99999.000000,4356.000000,99.000000,1.000000

# information about structure about the data

In [6]:
income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31587 entries, 0 to 31586
Data columns (total 18 columns):
index                 31587 non-null int64
age                   31585 non-null float64
working_sector        29812 non-null object
financial_weight      31585 non-null float64
qualification         31585 non-null object
years_of_education    31587 non-null int64
tax_paid              2381 non-null float64
loan_taken            31587 non-null int64
marital_status        31587 non-null object
occupation            29805 non-null object
relationship          31585 non-null object
ethnicity             31585 non-null object
gender                31585 non-null object
gain                  31585 non-null float64
loss                  31585 non-null float64
working_hours         31585 non-null float64
country               31019 non-null object
target                31587 non-null int64
dtypes: float64(6), int64(4), object(8)
memory usage: 4.3+ MB

# cheking the Null values

In [7]:
income.isna().sum()

index                     0
age                       2
working_sector         1775
financial_weight          2
qualification             2
years_of_education        0
tax_paid              29206
loan_taken                0
marital_status            0
occupation             1782
relationship              2
ethnicity                 2
gender                    2
gain                      2
loss                      2
working_hours             2
country                 568
target                    0
dtype: int64

# Dropping the attributes which are not significant

In [8]:
income.drop("index",axis=1,inplace=True)

In [9]:
income.drop("years_of_education",axis=1,inplace=True)

In [10]:
income.drop("tax_paid",axis=1,inplace=True)

In [11]:
income.drop("loss",axis=1,inplace=True)

In [12]:
income.drop("loan_taken",axis=1,inplace=True)

In [13]:
income

,age,working_sector,financial_weight,qualification,marital_status,occupation,relationship,ethnicity,gender,gain,working_hours,country,target
0,39.0,state,77516.0,Bachelors,Never-married,clerical,Not-in-family,White,Male,2174.0,40.0,United-States,0
1,50.0,self_employed,83311.0,Bachelors,Married-civilian,managerial,Husband,White,Male,0.0,13.0,United-States,0
2,38.0,private,215646.0,HS-grad,Divorced,cleaner,Not-in-family,White,Male,0.0,40.0,United-States,0
3,53.0,private,234721.0,11th,Married-civilian,cleaner,Husband,Black,Male,0.0,40.0,United-States,0
4,28.0,private,338409.0,Bachelors,Married-civilian,specialty,Wife,Black,Female,0.0,40.0,Cuba,0
5,37.0,private,284582.0,Masters,Married-civilian,managerial,Wife,White,Female,0.0,40.0,United-States,0
6,49.0,private,160187.0,9th,Married-non-resident,other,Not-in-family,Black,Female,0.0,16.0,Jamaica,0
7,52.0,self_employed,209642.0,HS-grad,Married-civilian,managerial,Husband,White,Male,0.0,45.0,United-States,1
8,31.0,private,45781.0,Masters,Never-married,specialty,Not-in-family,White,Female,14084.0,50.0,United-States,1
9,42.0,private,159449.0,Bachelors,Married-civilian,managerial,Husband,White,Male,5178.0,40.0,United-States,1
10,37.0,private,280464.0,Some-college,Married-civilian,managerial,Husband,Black,Male,0.0,80.0,United-States,1
11,30.0,state,141297.0,Bachelors,Married-civilian,specialty,Husband,Asian-Pac-Islander,Male,0.0,40.0,India,1
12,23.0,private,122272.0,Bachelors,Never-married,clerical,Own-child,White,Female,0.0,30.0,United-States,0
13,32.0,private,205019.0,Assoc-acdm,Never-married,sales,Not-in-family,Black,Male,0.0,50.0,United-States,0
14,40.0,private,121772.0,Assoc-voc,Married-civilian,repair,Husband,Asian-Pac-Islander,Male,0.0,40.0,NaN,1
15,34.0,private,245487.0,7th-8th,Married-civilian,transport,Husband,Amer-Indian-Eskimo,Male,0.0,45.0,Mexico,0
16,25.0,self_employed,176756.0,HS-grad,Never-married,farming,Own-child,White,Male,0.0,35.0,United-States,0
17,32.0,private,186824.0,HS-grad,Never-married,inspector,Unmarried,White,Male,0.0,40.0,United-States,0
18,38.0,private,28887.0,11th,Married-civilian,sales,Husband,White,Male,0.0,50.0,United-States,0
19,43.0,self_employed,292175.0,Masters,Divorced,managerial,Unmarried,White,Female,0.0,45.0,United-States,1
20,40.0,private,193524.0,Doctorate,Married-civilian,specialty,Husband,White,Male,0.0,60.0,United-States,1
21,54.0,private,302146.0,HS-grad,Separated,other,Unmarried,Black,Female,0.0,20.0,United-States,0
22,35.0,national,76845.0,9th,Married-civilian,farming,Husband,Black,Male,0.0,40.0,United-States,0
23,43.0,private,117037.0,11th,Married-civilian,transport,Husband,White,Male,0.0,40.0,United-States,0
24,59.0,private,109015.0,HS-grad,Divorced,support,Unmarried,White,Female,0.0,40.0,United-States,0
25,56.0,local_body,216851.0,Bachelors,Married-civilian,support,Husband,White,Male,0.0,40.0,United-States,1
26,19.0,private,168294.0,HS-grad,Never-married,repair,Own-child,White,Male,0.0,40.0,United-States,0
27,54.0,NaN,180211.0,Some-college,Married-civilian,NaN,Husband,Asian-Pac-Islander,Male,0.0,60.0,South,1
28,39.0,private,367260.0,HS-grad,Divorced,managerial,Not-in-family,White,Male,0.0,80.0,United-States,0
29,49.0,private,193366.0,HS-grad,Married-civilian,repair,Husband,White,Male,0.0,40.0,United-States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
31557,34.0,private,204461.0,Doctorate,Married-civilian,specialty,Husband,White,Male,0.0,60.0,United-States,1
31558,54.0,private,337992.0,Bachelors,Married-civilian,managerial,Husband,Asian-Pac-Islander,Male,0.0,50.0,Japan,1
31559,37.0,private,179137.0,Some-college,Divorced,clerical,Unmarried,White,Female,0.0,39.0,United-States,0
31560,NaN,NaN,NaN,NaN,Separated,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
31561,22.0,private,325033.0,12th,Never-married,guard,Own-child,Black,Male,0.0,35.0,United-States,0
31562,34.0,private,160216.0,Bachelors,Never-married,managerial,Not-in-family,White,Female,0.0,55.0,United-States,1
31563,30.0,private,345898.0,HS-grad,Never-married,repair,Not-in-family,Black,Male,0.0,46.0,United-States,0
31564,38.0,private,139180.0,Bachelors,Divorced,specialty,Unmarried,Black,Female,15020.0,45.0,United-States,1
31565,71.0,NaN,287372.0,Doctorate,Married-civilian,NaN,Husband,White,Male,0.0,10.0,United-States,1
31566,45.0,state,252208.0,HS-grad,Separated,clerical,Own-child,White,Female,0.0,40.0,United-States,0
31567,41.0,NaN,202822.0,HS-grad,Separated,NaN,Not-in-family,Black,Female,0.0,32.0,United-States,0
31568,72.0,NaN,129912.0,HS-grad,Married-civilian,NaN,Husband,White,Male,0.0,25.0,United-States,0
31569,45.0,local_body,119199.0,Assoc-acdm,Divorced,specialty,Unmarried,White,Female,0.0,48.0,United-States,0
31570,31.0,private,199655.0,Masters,Divorced,other,Not-in-family,Other,Female,0.0,30.0,United-States,0
31571,NaN,NaN,NaN,NaN,Divorced,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
31572,39.0,local_body,111499.0,Assoc-acdm,Married-civilian,clerical,Wife,White,Female,0.0,20.0,United-States,1
31573,37.0,private,198216.0,Assoc-acdm,Divorced,support,Not-in-family,White,Female,0.0,40.0,United-States,0
31574,43.0,private,260761.0,HS-grad,Married-civilian,inspector,Husband,White,Male,0.0,40.0,Mexico,0
31575,65.0,self_employed,99359.0,Prof-school,Never-married,specialty,Not-in-family,White,Male,1086.0,60.0,United-States,0
31576,43.0,self_employed,27242.0,Some-college,Married-civilian,repair,Husband,White,Male,0.0,50.0,United-States,0
31577,32.0,private,34066.0,10th,Married-civilian,cleaner,Husband,Amer-Indian-Eskimo,Male,0.0,40.0,United-States,0
31578,43.0,private,84661.0,Assoc-voc,Married-civilian,sales,Husband,White,Male,0.0,45.0,United-States,0
31579,32.0,private,116138.0,Masters,Never-married,support,Not-in-family,Asian-Pac-Islander,Male,0.0,11.0,Taiwan,0
31580,53.0,private,321865.0,Masters,Married-civilian,managerial,Husband,White,Male,0.0,40.0,United-States,1
31581,22.0,private,310152.0,Some-college,Never-married,guard,Not-in-family,White,Male,0.0,40.0,United-States,0
31582,27.0,private,257302.0,Assoc-acdm,Married-civilian,support,Wife,White,Female,0.0,38.0,United-States,0
31583,40.0,private,154374.0,HS-grad,Married-civilian,inspector,Husband,White,Male,0.0,40.0,United-States,1
31584,58.0,private,151910.0,HS-grad,Widowed,clerical,Unmarried,White,Female,0.0,40.0,United-States,0
31585,22.0,private,201490.0,HS-grad,Never-married,clerical,Own-child,White,Male,0.0,20.0,United-States,0
31586,52.0,self_employed,287927.0,HS-grad,Married-civilian,managerial,Wife,White,Female,15024.0,40.0,United-States,1

# imputating categorical variables by mode

In [14]:
income["working_sector"]=income["working_sector"].fillna(value=income["working_sector"].mode()[0])
income["occupation"]=income["occupation"].fillna(value=income["occupation"].mode()[0])
income["country"]=income["country"].fillna(value=income["country"].mode()[0])

In [15]:
income.isna().sum()

age                 2
working_sector      0
financial_weight    2
qualification       2
marital_status      0
occupation          0
relationship        2
ethnicity           2
gender              2
gain                2
working_hours       2
country             0
target              0
dtype: int64

# Dropping the rows consisting of na values

In [16]:
income.dropna(axis=0,inplace=True)

In [17]:
income.isna().sum()

age                 0
working_sector      0
financial_weight    0
qualification       0
marital_status      0
occupation          0
relationship        0
ethnicity           0
gender              0
gain                0
working_hours       0
country             0
target              0
dtype: int64

# combining some of the levels in country column

In [18]:
income["country"].value_counts()

 United-States                 28861
 Mexico                          623
 Philippines                     193
 Germany                         133
 Canada                          117
 Puerto-Rico                     112
 El-Salvador                     103
 India                            96
 Cuba                             92
 England                          89
 Jamaica                          80
 South                            79
 China                            73
 Italy                            71
 Dominican-Republic               68
 Vietnam                          64
 Guatemala                        61
 Japan                            59
 Columbia                         57
 Poland                           56
 Taiwan                           50
 Haiti                            44
 Iran                             42
 Portugal                         36
 Nicaragua                        33
 Peru                             30
 France                           29
 Ecuador                          28
 Greece                           28
 Ireland                          23
 Hong                             19
 Trinadad&Tobago                  18
 Laos                             18
 Thailand                         17
 Cambodia                         17
 Yugoslavia                       15
 Outlying-US(Guam-USVI-etc)       14
 Hungary                          13
 Honduras                         12
 Scotland                         11
 Holand-Netherlands                1
Name: country, dtype: int64

In [19]:
income["country"].unique().sum()

' United-States Cuba Jamaica India Mexico South Puerto-Rico Honduras England Canada Germany Iran Philippines Italy Poland Columbia Cambodia Thailand Ecuador Laos Taiwan Haiti Portugal Dominican-Republic El-Salvador France Guatemala China Japan Yugoslavia Peru Outlying-US(Guam-USVI-etc) Scotland Trinadad&Tobago Greece Nicaragua Vietnam Hong Ireland Hungary Holand-Netherlands'

In [20]:
def chief_string(title):
    if  title.strip() == 'United-States':
        return(title)
    else:
        return("others")

In [21]:
income['country'] = (income['country'].apply(lambda x: chief_string(x)))

In [22]:
income["country"].unique()

array([' United-States', 'others'], dtype=object)

# combining some of the levels in Working sector column

In [23]:
income["working_sector"].value_counts()

private          23806
self_employed     3543
local_body        2019
state             1274
national           923
without_pay         13
not_worked           7
Name: working_sector, dtype: int64

In [24]:
def working(rcb):
    if rcb.strip() in ("state","national","local_body"):
        return('government')
    elif rcb.strip() in ("without_pay","not_worked"):
        return('not working')
    elif rcb.strip() in ("private","self_employed"): 
        return('private')

In [25]:
income["working_sector"]=(income["working_sector"].apply(lambda v:working(v)))

In [26]:
income["working_sector"].value_counts()

private        27349
government      4216
not working       20
Name: working_sector, dtype: int64

# combining some of the levels in qualification column

In [27]:
income["qualification"].value_counts()

 HS-grad         10198
 Some-college     7078
 Bachelors        5196
 Masters          1665
 Assoc-voc        1336
 11th             1138
 Assoc-acdm       1028
 10th              906
 7th-8th           626
 Prof-school       563
 9th               501
 12th              418
 Doctorate         397
 5th-6th           323
 1st-4th           163
 Preschool          49
Name: qualification, dtype: int64

In [28]:
def qual(bulls):
    if bulls.strip() in ("10th","1st-4th","5th-6th","9th","7th-8th"):
        return("school")
    if bulls.strip() in ("11th","12th"):
        return("collage")
    else:
        return(bulls)

In [29]:
income["qualification"]=(income["qualification"].apply(lambda r:qual(r)))

In [30]:
income["qualification"].value_counts()

 HS-grad         10198
 Some-college     7078
 Bachelors        5196
school            2519
 Masters          1665
collage           1556
 Assoc-voc        1336
 Assoc-acdm       1028
 Prof-school       563
 Doctorate         397
 Preschool          49
Name: qualification, dtype: int64

# combining some of the levels in martial_status column

In [31]:
income["marital_status"].value_counts()

Married-civilian        14540
Never-married           10374
Divorced                 4298
Separated                 986
Widowed                   961
Married-non-resident      403
Married-defence            23
Name: marital_status, dtype: int64

In [32]:
def mart(fc):
    if fc in ("Divorced","Separated","Widowed","Never-married"):
        return("not married")
    else:
        return("married")

In [33]:
income["marital_status"]=(income["marital_status"].apply(lambda j:mart(j)))

In [34]:
income["marital_status"].value_counts()

not married    16619
married        14966
Name: marital_status, dtype: int64

In [35]:
income.isna().sum()

age                 0
working_sector      0
financial_weight    0
qualification       0
marital_status      0
occupation          0
relationship        0
ethnicity           0
gender              0
gain                0
working_hours       0
country             0
target              0
dtype: int64

In [36]:
from sklearn.datasets import load_digits

X, Y = load_digits().data, load_digits().target

# Use One-Hot encoder to encode categorical variables

In [37]:
from sklearn import preprocessing

In [38]:
encoder = preprocessing.LabelEncoder()

In [39]:
income_copy=income

In [40]:
#fit and transform all known categorical variables 
working_sector_cat = encoder.fit_transform(income_copy.working_sector)
occupation_cat = encoder.fit_transform(income_copy.occupation)
qualification_cat = encoder.fit_transform(income_copy.qualification)
country_cat = encoder.fit_transform(income_copy.country)
maritial_cat = encoder.fit_transform(income_copy.marital_status)
ethnicity_cat = encoder.fit_transform(income_copy.ethnicity)
rel_cat = encoder.fit_transform(income_copy.relationship)
gender_cat = encoder.fit_transform(income_copy.gender)

In [41]:
#Now initialze the cols with encoded values
income_copy['working_sector_cat']=working_sector_cat
income_copy['occupation_cat']=occupation_cat
income_copy['qualification_cat']=qualification_cat
income_copy['country_cat']=country_cat
income_copy['maritial_cat']=maritial_cat
income_copy['ethnicity_cat']=ethnicity_cat
income_copy['rel_cat']=rel_cat
income_copy['gender_cat']=gender_cat

In [42]:
#Now drop all old categorical variables
droplist = ['working_sector','qualification','marital_status','occupation','relationship','ethnicity','gender','country']
income_copy = income_copy.drop(droplist, axis=1)

In [43]:
 from sklearn.model_selection import train_test_split

In [44]:
from sklearn.model_selection import train_test_split

Y = income_copy ['target']
X = income_copy.drop('target', axis=1)

In [45]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.33, random_state=10)

In [46]:
from sklearn.linear_model import LogisticRegression

model_logistic = LogisticRegression()

model_logistic.fit(X_train, Y_train)
Y_pred_logistic = model_logistic.predict(X_test)

In [47]:
from sklearn.metrics import accuracy_score, recall_score, classification_report,confusion_matrix

In [48]:
#check performance
print ("Classification Report:")
print(classification_report(Y_test, Y_pred_logistic))
print ("Confusion Matrix:")
print(confusion_matrix(Y_test, Y_pred_logistic))
print ("Recall Score:")
print(recall_score(Y_test, Y_pred_logistic))
print ("Accuracy Score:")
print(accuracy_score(Y_test, Y_pred_logistic))

Classification Report:
             precision    recall  f1-score   support

          0       0.79      0.98      0.88      7918
          1       0.80      0.20      0.31      2506

avg / total       0.79      0.79      0.74     10424

Confusion Matrix:
[[7792  126]
 [2017  489]]
Recall Score:
0.1951316839584996
Accuracy Score:
0.7944167306216423

# Naive Bayes algorithm
Naive Bayes uses the Bayes theorem to calculate the probability of a given feature set falls into a certain class or not. We will use the Gaussian NB method

In [49]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, recall_score, classification_report,confusion_matrix

In [50]:
model_guassianNB = GaussianNB()
model_guassianNB.fit(X_train, Y_train)
Y_pred_gaussian = model_guassianNB.predict(X_test)

In [51]:
#check performance
print ("Classification Report:")
print(classification_report(Y_test, Y_pred_gaussian))
print ("Confusion Matrix:")
print(confusion_matrix(Y_test, Y_pred_gaussian))
print ("Recall Score:")
print(recall_score(Y_test, Y_pred_gaussian))
print ("Accuracy Score:")
print(accuracy_score(Y_test, Y_pred_gaussian))

Classification Report:
             precision    recall  f1-score   support

          0       0.80      0.98      0.88      7918
          1       0.76      0.21      0.33      2506

avg / total       0.79      0.79      0.75     10424

Confusion Matrix:
[[7748  170]
 [1978  528]]
Recall Score:
0.21069433359936154
Accuracy Score:
0.7939370683039141

# SVM
Use the SVM classifier for the same classification problem. We can try different C values and kernels to get a better result

In [52]:
from sklearn import svm
from sklearn.model_selection import GridSearchCV

In [53]:
model_svm = svm.SVC(C=10, kernel='sigmoid')
model_svm.fit(X_train, Y_train)

#predict on Test
Y_pred_svm = model_svm.predict(X_test)

In [54]:
#check performance
print ("Classification Report:")
print(classification_report(Y_test, Y_pred_svm))
print ("Confusion Matrix:")
print(confusion_matrix(Y_test, Y_pred_svm))
print ("Recall Score:")
print(recall_score(Y_test, Y_pred_svm))
print ("Accuracy Score:")
print(accuracy_score(Y_test, Y_pred_svm))

Classification Report:
             precision    recall  f1-score   support

          0       0.76      1.00      0.86      7918
          1       0.00      0.00      0.00      2506

avg / total       0.58      0.76      0.66     10424

Confusion Matrix:
[[7918    0]
 [2506    0]]
Recall Score:
0.0
Accuracy Score:
0.7595932463545664

C:\Users\lenovo\Desktop\insofe\New folder\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [ ]:
#Create a dictionary of possible parameters
params_grid = {'C': [0.001, 0.01, 0.1, 1, 10, 100],
          'gamma': [0.0001, 0.001, 0.01, 0.1],
          'kernel':['linear','rbf'] }

#Create the GridSearchCV object
grid_clf = GridSearchCV(svm.SVC(class_weight='balanced'), params_grid)

#Fit the data with the best possible parameters
grid_clf.fit(X_train, Y_train)

#Print the best estimator with it's parameters
print (grid_clf.best_params_)

# SVM - results of hyperparameter optimization
The results of GridSearch in SVM is:

{'C': 0.1, 'gamma': 0.0001, 'kernel': 'rbf'}

Let's try the model based on this

In [ ]:
model_svm_optimal = svm.SVC(C=0.1, kernel='sigmoid',gamma=0.0001)
model_svm_optimal.fit(X_train, Y_train)

#predict on Test
Y_pred_svm_opt = model_svm_optimal.predict(X_test)

In [ ]:
#check performance
print ("Classification Report:")
print(classification_report(Y_test, Y_pred_svm_opt))
print ("Confusion Matrix:")
print(confusion_matrix(Y_test, Y_pred_svm_opt))
print ("Recall Score:")
print(recall_score(Y_test, Y_pred_svm_opt))
print ("Accuracy Score:")
print(accuracy_score(Y_test, Y_pred_svm_opt))

# Algorithm 4 : Random Forest
Random forest is a bagging ensemble technique for Decision trees

In [ ]:
from sklearn.ensemble import RandomForestClassifier

model_rforest = RandomForestClassifier(n_estimators=20, random_state=0)

In [ ]:
model_rforest.fit(X_train, Y_train)
Y_pred_rforest = model_rforest.predict(X_test)

In [ ]:
#check performance
print ("Classification Report:")
print(classification_report(Y_test, Y_pred_rforest))
print ("Confusion Matrix:")
print(confusion_matrix(Y_test, Y_pred_rforest))
print ("Recall Score:")
print(recall_score(Y_test, Y_pred_rforest))
print ("Accuracy Score:")
print(accuracy_score(Y_test, Y_pred_rforest))

In [ ]:
number_of_trees=120

In [ ]:
model_rforest2 = RandomForestClassifier(n_estimators=number_of_trees, random_state=0)
model_rforest2.fit(X_train, Y_train)
Y_pred_rforest2 = model_rforest2.predict(X_test)

#check performance
print ("Classification Report:")
print(classification_report(Y_test, Y_pred_rforest2))
print ("Confusion Matrix:")
print(confusion_matrix(Y_test, Y_pred_rforest2))
print ("Recall Score:")
print(recall_score(Y_test, Y_pred_rforest2))
print ("Accuracy Score:")
print(accuracy_score(Y_test, Y_pred_rforest2))

# Tree value of 120 is giving a good accuracy of 85%
Use k-fold cross validation to improve accuracy
Use k-fold cross validation to see if it can improve the accuracy for all algorithms

In [ ]:
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

In [ ]:
rf_class_kfold = RandomForestClassifier(n_estimators=120)
log_class_kfold = LogisticRegression()
svm_class_kfold = svm.SVC()

number_of_folds=10

print("Random Forests: ")
print(cross_val_score(rf_class_kfold, X_train, Y_train, scoring='accuracy', cv = number_of_folds))
accuracy = cross_val_score(rf_class_kfold, X_train, Y_train, scoring='accuracy', cv = number_of_folds).mean() * 100
print("Accuracy of Random Forests using K-fold cross validation is: " , accuracy)
 
print("\n\nSVM:")
print(cross_val_score(svm_class_kfold, X_train, Y_train, scoring='accuracy', cv = number_of_folds))
accuracy = cross_val_score(svm_class_kfold, X_train, Y_train, scoring='accuracy', cv = number_of_folds).mean() * 100
print("Accuracy of SVM using K-fold cross validation is: " , accuracy)
 
print("\n\nLog:")
print(cross_val_score(log_class_kfold, X_train, Y_train, scoring='accuracy', cv = number_of_folds))
accuracy = cross_val_score(log_class_kfold, X_train, Y_train, scoring='accuracy', cv = number_of_folds).mean() * 100
print("Accuracy of Logistic Regression using K-fold cross validation is: " , accuracy)

# conclusion
The best accuracy is given by RandomForest with 120 number of trees doing a k-fold cross validation of 5. The accuracy is 85.67
The second best was SVM with C=1, gamma = 0.1 and rfb kernel. The accuracy is 82.77